<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="server=localhost;database=myDb;uid=myUser;password=myPass;" />
  </connectionStrings>
  <appSettings>
    <add key="IsValue" value="true"/>
    <add key="Timeout" value="10"/>
    <add key="EmptyValue" value=""/>
    <add key="Size" value="30"/>
  </appSettings>

  <customSection>
    <add key="IntValue" value="10"/>
  </customSection>
</configuration>
